fastapi
python-multipart
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
aiosqlite
pydantic
pydantic[email]
pydantic-settings
pyjwt
passlib[bcrypt]
bcrypt<4.1
slowapi
result
pytest
pytest-asyncio
ruff
alembic
httpx
